//
//  Config.xcconfig
//  TwitStock
//
//  Created by Rajat Jain on 2/1/22.
//  Copyright © 2022 London App Brewery. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY=""
API_KEY_SECRET=""
BEARER_TOKEN=""
